<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm ">
    <div class="container">
        <a class="navbar-brand" href="{% url 'gallery:tattoos' %}"><i class="fa-solid fa-shop me-2"></i>
            <strong>TattooWebSite Page</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
            <div class="input-group">
                <span class="border-success input-group-text bg-success text-white"><i
                        class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control border-success" style="color: #7a7a7a" />
                <button class="btn btn-success text-dark search-button">Search</button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="ms-auto d-none d-lg-block">
                <div class="input-group">
                    <span class="border-success input-group-text text-white search-button"><i
                            class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="text" class="form-control border-success" style="color: #7a7a7a" />
                    <button class="btn btn-success text-dark search-button">Search</button>
                </div>
            </div>
            <ul class="navbar-nav ms-auto">
                {% for i in styles %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{i.get_absolute_url}}" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{i.name|upper}}
                    </a>
                    
                </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="#"><i
                            class="fa-solid fa-circle-user me-1"></i>Account</a>
                </li>
            </ul>
        </div>
    </div>
</nav>